In [3]:
from data import GameManager

gm = GameManager()
df = gm.get_table_data()

Reading Table: RESULTS_LOG

In [5]:
df.head()

,GAME_ID,DATE,SIDE,WONDERS,PLAYER,WONDER_POINTS,TREASURY_POINTS,MILITARY_POINTS,CIVILIAN_POINTS,COMMERCIAL_POINTS,SCIENCE_POINTS,GUILD_POINTS,TOTAL_POINTS,PLAYER_REF,RANK
0,1.0,2024-06-22,B,The Great Pyramid of Gizah,Eric,20.0,12.0,-1.0,6.0,22.0,0.0,0.0,59,Eric,1
1,1.0,2024-06-22,B,The Colossus of Rhodes,Sally,7.0,4.0,17.0,14.0,3.0,2.0,9.0,56,Sally,3
2,1.0,2024-06-22,B,The Mausoleum at Halicarnassus,Jenny,3.0,9.0,12.0,0.0,0.0,31.0,0.0,55,Jenny,4
3,1.0,2024-06-22,B,The Hanging Gardens of Babylon,Lance,0.0,0.0,2.0,14.0,0.0,26.0,9.0,51,Lance,6
4,1.0,2024-06-22,B,The Statue of Zeus at Olympia,Curry,5.0,3.0,11.0,19.0,11.0,0.0,10.0,59,Curry,2